/* @import "fonts/fontawesome/scss/fontawesome.scss";
@import "fonts/fontawesome/scss/solid.scss";
@import "fonts/fontawesome/scss/regular.scss";
@import "fonts/fontawesome/scss/brands.scss"; */
// Todo se importa del principal

// Page
// -----------------------------------------------------------------------------
.project__field-videos #eru-slide {
  .carousel-caption {
    background-color: none;
    padding: 13px 13px 25px 13px !important;
    opacity: 0.8 !important;
    margin-bottom: 0 !important;
  }

  .transcription-caption {
    float: right;
    padding-right: 15px;
  }
}

.news,
.container-project {
  #eru-slide {
    .carousel-caption {
      width: 80%;
      font-size: 1.3em;
      margin: 20px 0;
      background-color: #000;
      opacity: 0.8;
      padding-bottom: 47px;
      margin: 0;
      padding-left: 24px;
    }

    .controles {
      left: 10%;
      bottom: 12%;
    }
  }

  .news__field-gallery .field__label {
    display: none;
  }
}

.badge {
  color: $azul-oscuro;
  font-size: 0.9em;
  text-transform: uppercase;
  margin-left: 1em;

  &:nth-child(2n) {
    margin-left: 2em;
  }
}

.tag_alcance {
  background: #efefef;
  padding: 0.35em;
  display: inline-block;
  margin: 0.4em;

  a {
    color: #3c3c3b;

    &:hover {
      text-decoration: none !important;
      color: #fff !important;
    }
  }

  &:hover {
    background-color: #0a6ec8;
  }
}

.tags {
  display: flex;
  justify-content: center;
  margin-top: 1.5em;
}

.link-proyecto {
  display: flex;
  border: 1px dashed $verde-claro;
  margin-bottom: 1em;

  &:hover {
    background-color: $verde-claro !important;
    color: #fff !important;
    cursor: pointer;

    a,
    .link-ico::before {
      color: #ffffff !important;
    }
  }

  a {
    margin-left: 1.7em;
    text-align: left !important;

    &:hover {
      text-decoration: none;
      color: #fff !important;
    }
  }
}

a.a2a_button_facebook:hover .a2a_s_facebook {
  fill: #fff !important;
  background-color: #3b5998 !important;
  opacity: 1 !important;
}

a.a2a_button_twitter:hover .a2a_s_twitter {
  fill: #fff !important;
  background-color: #1da1f2 !important;
  opacity: 1 !important;
}

.a2a_button_twitter span,
.a2a_button_facebook span {
  padding: 3px !important;
}

.news__field-fecha-de-publicacion {
  margin-bottom: 2em;
}

.title-projeccts {
  display: flex;
  gap: 35px;
  align-items: center;
  justify-content: center;

  h2 {
    color: #003937;
    font-size: 47px;
    line-height: 41px;
    margin: 0;
    font-family: "Value Serif Pro";
    font-weight: bold;
    text-align: left;
    &::after {
      content: none;
    }
  }
  h3 {
    color: #003937;
    font-family: "Value Serif Pro";
    font-weight: bold;
    padding: 0;
    margin: 0;
    font-size: 91px;
    line-height: 80px !important;
  }
}

.svg {
  position: absolute;
  width: 0;
  height: 0;
}
.clipped {
  width: 100%;
  height: 350px;
  background: turquoise url(https://source.unsplash.com/600x600?summer);
  background-size: cover;
  -webkit-clip-path: url(#my-clip-path);
  clip-path: url(#my-clip-path);
}

.nav.nav-tabs {
  background-color: #ffffea;
  border-bottom: 0;
  .nav-item {
    .nav-link {
      color: #6143f1;
      font-family: "Value Serif Pro";
      font-weight: bold;
      position: relative;
      border: 0;
      &::after {
        content: "";
        background-color: #6143f1;
        height: 100%;
        width: 2px;
        position: absolute;
        right: 0;
        top: 0;
      }
      &.active,
      &:hover {
        color: #1f3637;
        background: transparent;
        border: 0;
      }
    }
    &:last-of-type {
      .nav-link {
        &::after {
          content: none;
        }
      }
    }
  }
}
.nav.nav-pills.nav-fill.nav-tabs-oblicua {
  background-color: #003937;
  border-radius: 9px;
  overflow: hidden;
  .nav-item {
    .nav-link {
      color: #ffffdc;
      font-size: 19px;
      font-family: "Value Serif Pro";
      font-weight: bold;
      padding: 15px 0;
    }
  }
}

.container-project {
  h3 {
    font-size: 35px;
    border-bottom: 0;
    font-family: "Value Serif Pro";
    font-weight: bold;
    color: #003937;
    position: relative;
    margin-bottom: 30px;
    line-height: 36px !important;
    &::after {
      content: none;
    }
  }
  .field--name-field_benefits_of_project {
    h3 {
      font-size: 64px;
      max-width: 430px;
      width: 100%;
      line-height: 64px !important;
    }
  }
}
.grid-datos {
  & > div {
    display: grid;
    gap: 45px;
    grid-template-columns: repeat(5, 1fr);
    .dato-general {
      flex-direction: column;
      width: 100%;
      img {
        width: 100%;
        height: 80px;
        max-width: 80px;
        object-fit: contain;
        margin: 0 auto 30px;
        display: block;
      }
      i {
        display: none;
      }
      .dato-info {
        text-align: center;
        .cifra {
          span {
            color: #003031;
            font-size: 25px;
            font-family: "Value Serif Pro";
            font-weight: bold;
            line-height: 33px;
          }
        }
        .titulo-cifra {
          span {
            color: #000000;
            font-size: 10px;
            font-family: "Noi Variable Fix";
            line-height: 13px;
            font-weight: bold;
          }
        }
      }
    }
  }
}

/* Estilos para la función de expansión del texto */
.expandable-text .expanded-content {
  display: none;
  margin-top: 10px;
}

.expandable-text .expand-link {
  color: blue;
  cursor: pointer;
}

.expandable-text .expand-link:hover {
  text-decoration: underline;
}
