
// Page: Header
// -----------------------------------------------------------------------------
.page__header {
	.landing-page h2{
		border: 0;
		clip: rect(0, 0, 0, 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}	
	#eru-slide {
		.carousel-caption {
			left: 10% !important;
			text-align: left !important;
			width: 25%;
			h3 {font-family: $poppins; font-weight: 600;}
		}
		.controles {
			display: flex;
		    align-items: center;
		    position: absolute;
		    left: 16%;
		    bottom: 5%;
		    z-index: 10;
		    .carousel-control-prev, .carousel-control-next {
		    	opacity: 1 !important;
		    	width: 18%;
		    	border: 1px solid #fff;
   				border-radius: 50%;
   				&:hover{
   					background-color: #fff !important;
   					background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");
   				}
		    }
		}
	}
}
